body {
  background-color: rgb(11, 1, 22);
  padding: 0px;
  margin: 0px;
  position: relative;
  color: aliceblue;
}

.btn {
  background-color: aquamarine;
  border-color: aquamarine;
  box-shadow: 0px 0px 10px rgba(127, 255, 212, 0.700);
}

/* NAVBAR */

nav {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  width: 100%;
}

nav p{
  margin-top: 10px;
}

.navbar-brand{
  color: aliceblue;
}

.navbar-brand:hover{
  color: aquamarine;
  transition: 0.5s;
}

/* FIM NAVBAR */

/* offcanvas */

.offcanvas {
  background-color: black;
  color: aliceblue;
}

.offcanvas-body > p {
  border-bottom: 3px solid aquamarine !important;
}

/* fim offcanvas */

/* SCORE */

#scoreCount{
  font-size: 18px;
}

.containerScore p{
  margin-top: 30px;
}

/* FIM SCORE */

.container {
  margin-top: 30px;
}

.containerValores {
  margin-top: 30px;
}

#myButton {
  background-color: transparent;
  border: none;
}

#myButton.pulse {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.containerMelhorias {
  border: 1px solid rgb(189, 189, 189);
  padding: 15px;
  border-radius: 10px;
}

#tituloMelhoriasUnicas {
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.offcanvas-body > p {
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}

/* FOOTER */

footer {
  padding: 5px 0px 5px 0px;
  margin-top: 50px;
  width: 100%;
  text-align: center;
  background-color: rgb(0, 0, 0);
}

/* FIM FOOTER*/

@media only screen and (max-width: 991px){
  .btn-conquistas {
    margin-top: 20px;
  }

  .containerValores {
    margin-top: 20px;
    width: 400px;
  }

  .containerValores .col{
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 300px;
  }
}

/* Estilizando a barra de rolagem */
/* Navegadores baseados no WebKit (Google Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #000000; /* Cor do fundo da barra de rolagem */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: aquamarine; /* Cor do "polegar" da barra de rolagem */
  border-radius: 10px;
}